/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-5;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}


th {
  font-weight: 600;
  padding: 6px 13px;
  border: 1px solid $border-color;
}

td {
  padding: 6px 13px;
  border: 1px solid $border-color;
}

tr,
td,
th {
  vertical-align: middle;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}